.Login {
    padding: 15px;
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login .Input{
    width: 100%;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: black;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    text-indent: 12px;
    font-size: 13px;
}

.Login label {
    width: 100%;
}

.Login .Submit {
    width: 300px;
    background-color: purple;
    color: white;
    font-size: 24px;
    margin: 30px 30px 0 30px;
}

.Login .Error {
    color: red;
}